<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/chat.css">
    <title><%= serverData.serverName%></title>
</head>
<body>
    <div id="title">
        <h1>Chat</h1>
    </div>
    <main>
        <div id="general-talk">
        </div>
        <div id="me">
            <input type="text" name="" id="text">
            <input type="submit" value="Enviar" id="submit">
        </div>
    </main>
    <script src="scripts/chat.js" type="module" defer></script>
</body>
</html>