<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <link rel="stylesheet" href="styles/login.css">
    <title><%= serverData.serverName%></title>
</head>
<body>
    <div id="title">
        <h1>Chat</h1>
    </div>
    <main>
        <h1><%= serverData.serverName%></h1>
        <input type="text" name="" id="name" placeholder="Your Name">
        <% if (serverData.hasPassword) {%>
        <input type="password" name="" id="password" placeholder="Server Password">
        <%}%>
        <input type="submit" value="Enter" id="submit">
    </main>
    <script src="scripts/login.js" type="module" defer></script>
</body>
</html>